{% extends "nav_home_layout.html" %}


{% block title %}

{% endblock %}


{% block head %}

<link rel="stylesheet" href="/static/css/styles.css">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">

{% endblock %}


{% block body %}

<div class="container">
    <h1 style="margin-top: 7%;"><b>FluencyForge</b></h1>
    <p><b>Ethan Schillinger</b>, <b>H. Jacob Schenck</b>, <b>Joseph Vossel</b></p>
    <hr>
    <p>
        FluencyForge is designed to help people improve their foreign language skills by leveraging powerful technology that has been recently developed.
        We adhere to a standard unit structure to provide a familiar organization for users that includes vocabulary, grammar, and quizzes.
        FluencyForge builds upon the units by giving users the opportunity to practice the most important aspect of language: conversation.
        Learning a language goes beyond just building up a base of vocabulary and memorizing rules; it is important to regularly form your own thoughts and ideas.
        Using OpenAI's GPT language models, you can find specialized scenarios in each unit, like ordering food at a restaurant or asking for help finding products at a store.
        We hope that you find this to be a useful tool as you craft your own language skills!
        At the moment, only Russian is (partially) supported, with the unit content closely reflecting that of the first <em>Голоса</em> book.
    </p>
    <br>
    <h2>
        <b>
            Project Goals
        </b>
    </h2>
    <hr>
    <p>
        <ul>
            <li>
                Create an app framework around the unit system
                <ul>
                    <li>
                        Vocabulary lists
                    </li>
                    <li>
                        Grammar section
                    </li>
                    <li>
                        Flash cards
                    </li>
                    <li>
                        Quizzes
                    </li>
                    <li>
                        Cross-language dictionary
                    </li>
                    <li>
                        Conversations
                    </li>
                </ul>
            </li>
            <li>
                Provide specialized unit-based conversation scenarios
                <ul>
                    <li>
                        Provide grammatically-correct, on-topic responses
                    </li>
                    <li>
                        Respond according to the unit scenario
                    </li>
                    <li>
                        Provide grades for user responses
                    </li>
                </ul>
            </li>
            <li>
                Create a user profile system
                <ul>
                    <li>
                        Store progress/grades
                    </li>
                    <li>
                        Create custom flash cards/quiz questions
                    </li>
                </ul>
            </li>
        </ul>
    </p>
    <br>
    <h2>
        <b>
            Approach
        </b>
    </h2>
    <hr>
    <h3>
        <b>
            Tools/APIs/Frameworks
        </b>
    </h3>
    <p>
        Bruh bruh bruh
    </p>
    <br>
    <h3>
        <b>
            User Experience
        </b>
    </h3>
    <p style="margin-bottom: 7%;">
        Bruh bruh bruh
    </p>
    
    
  
{% endblock %}