{% extends "nav_unit_layout.html" %}


{% block chat_head %}

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>

{% endblock %}


{% block head %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

    <style>
        .panel {
            transition: none;
        }

        .panel:hover {
            transform: none;
        }
    </style>

{% endblock %}


{% block body %}

<div class="container-fluid">
    <div class="row" style="margin-top: 1.5%;">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>{{ chat }}</h4>
                </div>
                <div class="panel-body container-chat" id="chat-window">
                    <div id="chat-msg">
                        <div class="text-row">
                            <div class="text">Здравствуйте! Как у вас дела?</div> <!-- this text should be an opening message based on two parameters: (1) target language, and (2) unit -->
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <form id="msg-form">
                        <div class="input-group">
                            <input type="text" class="form-control" id="msg" placeholder="Type your message..." autocomplete="off" autofocus>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">
                                    <b>
                                        >
                                    </b>
                                </button>
                            </span>
                        </div>
                        <div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <input type="image" src="/static/img/logo.webp" name="test" class="grade" id="test" data-toggle="modal" data-target="#exampleModalCenter"/>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Bruh
</button> -->
  
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">
                    <b>
                        Detailed Grade
                    </b>
                </h4>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> -->
            </div>
            <div id="mbody" class="modal-body grade-desc"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    </div>
</div>


<script src="/static/js/chat.js"></script>

{% endblock %}