{% extends "nav_unit_layout.html" %}

{% block head %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

    <style>
        .panel {
            transition: none;
        }

        .panel:hover {
            transform: none;
        }
    </style>

{% endblock %}


{% block body %}

<div class="container-fluid">
    <div class="row" style="margin-top: 5%;">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>{{ chat }}</h4>
                </div>
                <div class="panel-body container-chat" id="chat-window">
                    <div id="chat-msg">
                        <div class="text-row">
                            <div class="text">Здравствуйте! Как у вас дела?</div> <!-- this text should be an opening message based on two parameters: (1) target language, and (2) unit -->
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <form id="msg-form">
                        <div class="input-group">
                            <input type="text" class="form-control" id="msg" placeholder="Type your message..." autocomplete="off" autofocus>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">
                                    <b>
                                        >
                                    </b>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="../static/js/chat.js"></script>

{% endblock %}