{% extends "nav_home_layout.html" %}


{% block title %}

{% endblock %}


{% block head %}

<link rel="stylesheet" href="/static/css/styles.css">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">

{% endblock %}


{% block body %}

<div class="container">
    <!-- <h1>Talk about the sprints here (maybe)</h1> -->
    <div class="row" style="margin-top: 10%;">
        <div class="col-sm-4">
            <a href="/sprint1" class="panel-link">
                <div class="panel panel-default">
                    <div class="panel-title">
                        <h3>Sprint 1</h3>
                    </div>
                    <div class="panel-image sprint1-panel"></div>
                    <div class="panel-body"></div>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="/sprint2" class="panel-link">
                <div class="panel panel-default">
                    <div class="panel-title">
                        <h3>Sprint 2</h3>
                    </div>
                    <div class="panel-image sprint2-panel"></div>
                    <div class="panel-body"></div>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="/sprint3" class="panel-link">
                <div class="panel panel-default">
                    <div class="panel-title">
                        <h3>Sprint 3</h3>
                    </div>
                    <div class="panel-image sprint3-panel"></div>
                    <div class="panel-body"></div>
                </div>
            </a>
        </div>
    </div>
</div>
  
{% endblock %}