{% extends "nav_unit_layout.html" %}



{% block head %}

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Flash Cards</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" media="screen" href="../static/css/flashcards.css"/>
<script type="text/javascript" src="../static/js/units/{{ random_text }}"></script> 
<!--<script type="text/javascript" src="../static/js/units/unit1.json"></script> -->
{% endblock %}



{% block body %}

<section class="container-cards">
    <div class="head">
        <h>Flashcards</h>
    </div>

<button type="button" class="correct next">Correct</button>

<div class="card">
    <div class="front">
        <section class="content">
            <p class="question"></p>
            <button type="button" class="check_answer">Go to back</button>
        </section>
    </div>
    <div class="back">
            <section class="content">
                <p class="solution">...</p>
                <button class="return">Go to front</button>
                <button type="button" class="new_word">new card</button>
            </section>
    </div>
</div>

<button type="button" class="wrong next">Incorrect</button>

<h4 id="known">Total Correct:</h4>
<h3 class="remaining"></h3>
<h4 id="next">Total Incorrect:</h4>
<button type="button" class="reload">Restart</button>

</section>

<script src="../static/js/flashcards.js"></script>

{% endblock%}
