{% extends "nav_home_layout.html" %}

{% block body %}

<div class="language-select">
    <form action="/" method="post">
        <select name="native_language" id="native_language" class="form-control input-lg">
            <option value="" disabled selected>Native Language</option>
            <option value="english">English</option>
            <option value="russian">Russian</option>
        </select>

        <br>

        <select name="target_language" id="target_language" class="form-control input-lg">
            <option value="" disabled selected>Target Language</option>
            <option value="english">English</option>
            <option value="russian">Russian</option>
        </select>

        <br><br>
        <input type="submit" value="Submit" class="language-button">
    </form>
</div>

{% endblock %}