{% extends "nav_home_layout.html" %}

{% block body %}

<form action="/" method="post">
    <label for="native_language">Select your native language:</label>
    <select name="native_language" id="native_language">
        <option value="english">English</option>
        <option value="russian">Russian</option>
    </select>

    <br>

    <label for="target_language">Select your target language:</label>
    <select name="target_language" id="target_language">
        <option value="english">English</option>
        <option value="russian">Russian</option>
    </select>

    <br><br>
    <input type="submit" value="Submit">
</form>

{% endblock %}