<!DOCTYPE HTML>
<html>
  <head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/css/skeleton.css"> <!-- minimal CSS framework, makes inputs look pretty -->
    <link rel="icon" href="/static/favicon.ico">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <title>TypeSprinter{% block title %}{% endblock %}</title>

    {% block head %}

    {% endblock %}

  </head>
  <body>
  
    {% block body %}

    {% endblock %}

  </body>
</html>