<!DOCTYPE HTML>
<html>
  <head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/skeleton.css"> <!-- minimal CSS framework, makes inputs look pretty -->
    <link rel="icon" href="">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <title>Triolingo{% block title %}{% endblock %}</title>

    {% block head %}

    {% endblock %}

  </head>
  <body>
  
    {% block body %}

    {% endblock %}

  </body>
</html>