<!DOCTYPE HTML>
<html>
  <head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    
    <!--
    
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/skeleton.css"> <!-- minimal CSS framework, makes inputs look pretty -->

    <link rel="icon" href="">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <title>Triolingo{% block title %}{% endblock %}</title>

    {% block head %}

    {% endblock %}

  </head>
  <body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="" width="30" height="30" class="d-inline-block align-top" alt="">
        {{ session['unit_names'][session['unit'] - 1] }}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              All Units
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/unit1">Unit 1: Greetings</a>
              <a class="dropdown-item" href="/unit2">Unit 2: Restaurant</a>
              <a class="dropdown-item" href="/unit3">Unit 3: Weather</a>
              
              
              <!--
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/">Home</a>
              -->


            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Dictionary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Vocab</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Grammar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cards">Flash Cards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/chat">Converse</a>
          </li>
        </ul>
      </div>
    </nav>
    

  
    {% block body %}

    {% endblock %}

  </body>
</html>