{% extends "nav_unit_layout.html" %}



{% block head %}

<link rel="stylesheet" type="text/css" media="screen" href="/static/css/quiz.css"/>
<script type="text/javascript" src="/static/js/units/quiz{{ unit }}"></script>

{% endblock %}

{% block body %}

<div id="quiz"></div>
<div class="button">
    <button id="submit">Submit Answers</button>
</div>
<div id="results"></div>

<div class="interactive-paragraph">
    <p>
        Мы смотрим на карту России и думаем: там <a class="wrong" onclick="this.style.color = '#ce523c'">так</a>/<a class="right" onclick="this.style.color = '#7cc35b'">такой</a>/<a class="wrong" onclick="this.style.color = '#ce523c'">такая</a> холодный
        климат! И, конечно, если взять такой город, как Вашингтон, то зимой там не
        <a class="right" onclick="this.style.color = '#7cc35b'">так</a>/<a class="wrong" onclick="this.style.color = '#ce523c'">такой</a>/<a class="wrong" onclick="this.style.color = '#ce523c'">такая</a> холодно, как в Санкт-Петербурге. Но даже зимой в Санкт-
        Петербурге не всегда стоит <a class="wrong" onclick="this.style.color = '#ce523c'">так</a>/<a class="wrong" onclick="this.style.color = '#ce523c'">такой/<a class="right" onclick="this.style.color = '#7cc35b'">такая</a> холодная погода, как во многих
        северных регионах американского континента. Например, в Петербурге не <a class="wrong" onclick="this.style.color = '#ce523c'">так</a>/<a class="wrong" onclick="this.style.color = '#ce523c'">такой</a>/<a class="right" onclick="this.style.color = '#7cc35b'">такая</a> холодная зима, как в Номе (шт. Аляска) или даже в Манитобе или
        Саскатчуане. Даже перед Новым годом в Петербурге бывает не <a class="wrong" onclick="this.style.color = '#ce523c'">так</a>/<a class="wrong" onclick="this.style.color = '#ce523c'">такой</a>/<a class="right" onclick="this.style.color = '#7cc35b'">такая</a>
        уж холодная погода: 1–2 градуса тепла (!). А летом иногда бывает <a class="right" onclick="this.style.color = '#7cc35b'">так</a>/<a class="wrong" onclick="this.style.color = '#ce523c'">такой</a>/<a class="wrong" onclick="this.style.color = '#ce523c'">такая</a> тепло — 25–30 градусов, что все думают, куда пойти купаться.
    </p>
</div>

<script src="/static/js/quiz.js"></script>

{% endblock %}