{% extends "layout.html" %}


{% block title %}

{% endblock %}


{% block head %}
{% endblock %}


{% block body %}

<div class="gradient header">
  <div class="container">
  <div class="row center-vertically">

    <div class="col-12 col-sm-6 col-md-4 col-xl-3"> <!-- col-12 col-sm-6 col-md-4 col-xl-3 OR col-5 col-sm-5 col-md-5 col-xl-4 -->
      <a href="/unit1" class="panel-a">
        <figure class="panel shadow-lg">
          <div class="figure-padding">
            <div class="panel-title">
              <b>Unit 1</b>
            </div>
            <div class="panel-preview panel1 image">

            </div>
          </div>
        </figure>
      </a>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-xl-3"> <!-- col-12 col-sm-6 col-md-4 col-xl-3 OR col-5 col-sm-5 col-md-5 col-xl-4 -->
      <a href="/practice" class="panel-a">
        <figure class="panel shadow-lg">
          <div class="figure-padding">
            <div class="panel-title">
              <b>Practice</b>
            </div>
            <div class="panel-preview panel2 image">

            </div>
          </div>
        </figure>
      </a>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-xl-3"> <!-- col-12 col-sm-6 col-md-4 col-xl-3 OR col-5 col-sm-5 col-md-5 col-xl-4 -->
      <a href="/generate" class="panel-a">
        <figure class="panel shadow-lg">
          <div class="figure-padding">
            <div class="panel-title">
              <b>Generate a Passage</b>
            </div>
            <div class="panel-preview panel3 image">

            </div>
          </div>
        </figure>
      </a>
    </div>

    </div>






    <div class="row center-vertically">

      <div class="col-12 col-sm-6 col-md-4 col-xl-3"> <!-- col-12 col-sm-6 col-md-4 col-xl-3 OR col-5 col-sm-5 col-md-5 col-xl-4 -->
        <a href="/1v1" class="panel-a">
          <figure class="panel shadow-lg">
            <div class="figure-padding">
              <div class="panel-title">
                <b>Race Another User</b>
              </div>
              <div class="panel-preview panel4 image">
  
              </div>
            </div>
          </figure>
        </a>
      </div>
  
      <div class="col-12 col-sm-6 col-md-4 col-xl-3"> <!-- col-12 col-sm-6 col-md-4 col-xl-3 OR col-5 col-sm-5 col-md-5 col-xl-4 -->
        <a href="/practice" class="panel-a">
          <figure class="panel shadow-lg">
            <div class="figure-padding">
              <div class="panel-title">
                <b>Practice</b>
              </div>
              <div class="panel-preview panel5 image">
  
              </div>
            </div>
          </figure>
        </a>
      </div>
  
      <div class="col-12 col-sm-6 col-md-4 col-xl-3"> <!-- col-12 col-sm-6 col-md-4 col-xl-3 OR col-5 col-sm-5 col-md-5 col-xl-4 -->
        <a href="/generate" class="panel-a">
          <figure class="panel shadow-lg">
            <div class="figure-padding">
              <div class="panel-title">
                <b>Generate a Passage</b>
              </div>
              <div class="panel-preview panel6 image">
  
              </div>
            </div>
          </figure>
        </a>
      </div>
  
      </div>
  </div>
</div>

{% block tabs %}
{% endblock %}


{% endblock %}