{% extends "layout.html" %}


{% block title %}

{% endblock %}


{% block head %}
{% endblock %}


{% block body %}

<div class="gradient header">
  <div class="container">
  <div class="row center-vertically">
    
    <form action="/unit_home" method="post" class="col-12 col-sm-6 col-md-4 col-xl-3">

    <div class="col-12 col-sm-6 col-md-4 col-xl-3"> <!-- col-12 col-sm-6 col-md-4 col-xl-3 OR col-5 col-sm-5 col-md-5 col-xl-4 -->
      <a href="/unit_home" class="panel-a">
        <figure class="panel shadow-lg">
          <div class="figure-padding">
            <div class="panel-title">
              <b>Unit 1</b>
            </div>
            <div class="panel-preview panel2 image">

            </div>
            </div>
        </figure>
      </a>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-xl-3"> <!-- col-12 col-sm-6 col-md-4 col-xl-3 OR col-5 col-sm-5 col-md-5 col-xl-4 -->
      <a href="/unit_home" class="panel-a">
        <figure class="panel shadow-lg">
          <div class="figure-padding">
            <div class="panel-title">
              <b>Practice</b>
            </div>
            <div class="panel-preview panel2 image">

            </div>
            </div>
        </figure>
      </a>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-xl-3"> <!-- col-12 col-sm-6 col-md-4 col-xl-3 OR col-5 col-sm-5 col-md-5 col-xl-4 -->
      <a href="/unit_home" class="panel-a">
        <figure class="panel shadow-lg">
          <div class="figure-padding">
            <div class="panel-title">
              <b>Generate a Passage</b>
            </div>
            <div class="panel-preview panel1 image">

            </div>
            </div>
        </figure>
      </a>
    </div>

    </form>

    </div>
  </div>
</div>

{% block tabs %}
{% endblock %}


{% endblock %}