{% extends "nav_unit_layout.html" %}


{% block head %}

    <link rel="stylesheet" href="/static/css/unit_home.css">

{% endblock %}


{% block body %}

    <div class="img-body">
        <img class="home-img" src="/static/img/weather_homepage.jpg">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <!-- <a href="/unit1" class="panel-link"> -->
                    <h3>Коммуникативные задания</h3>
                    <ul>
                        <li>Describing the weather</li>
                        <li>Preparing for travel</li>
                        <li>Weather reports</li>
                    </ul>
                    <!-- <div class="panel panel-default">
                        <div class="panel-title">
                            <h3>bruh</h3>
                        </div>
                        <div class="panel-image panel1"></div>
                        <div class="panel-body"></div>
                    </div> -->
                <!-- </a> -->
            </div>
            <div class="col-sm-3">
                <!-- <a href="/unit2" class="panel-link"> -->
                    <h3>Чтение для удовольствия</h3>
                    <ul>
                        <li><strong>А. С. Пушкин</strong></li>
                    </ul>
                    <!-- <div class="panel panel-default">
                        <div class="panel-title">
                            <h3>bruh</h3>
                        </div>
                        <div class="panel-image panel2"></div>
                        <div class="panel-body"></div>
                    </div> -->
                <!-- </a> -->
            </div>
            <div class="col-sm-3">
                <!-- <a href="/unit3" class="panel-link"> -->
                    <h3>Культура и быт</h3>
                    <ul>
                        <li>The Crimea</li>
                        <li>Celsius temperatures</li>
                    </ul>
                    <!-- <div class="panel panel-default">
                        <div class="panel-title">
                            <h3>bruh</h3>
                        </div>
                        <div class="panel-image panel3"></div>
                        <div class="panel-body"></div>
                    </div> -->
                <!-- </a> -->
            </div>
            <div class="col-sm-3">
                <a href="/grammar" class="panel-link">
                    <h3>Грамматика</h3>
                    <ul>
                        <li>Weather</li>
                        <li>Feelings: dative subjectless constructions</li>
                        <li>Seasons and instrumental case</li>
                        <li>Months and <strong>в +</strong> prepositional case</li>
                        <li>Prepositional case ending in <strong>-у</strong></li>
                        <li>Invitations: <strong>Давай(те) +</strong> future tense, <strong>Приезжайте/Приходите!</strong></li>
                        <li>Preposition <strong>к +</strong> dative case</li>
                        <li><em>Whether</em> vs. <em>if</em>: <strong>ли</strong> constructions</li>
                        <li><strong>Если</strong> and <strong>когда</strong> clauses with future tense</li>
                    </ul>
                    <!-- <div class="panel panel-default">
                        <div class="panel-title">
                            <h3>bruh</h3>
                        </div>
                        <div class="panel-image panel4"></div>
                        <div class="panel-body"></div>
                    </div> -->
                </a>
            </div>
        </div>
    </div>

{% endblock %}